:root{

  /* Background Color */
  --color-light-grey: #e5e5e5;
  --color-light-pink: #fde6e2;
  --color-peach: rgb(245, 214, 196);

  /* Font Size */
  --font-title: 24px;
  --font-large: 20px;
  --font-medium: 13px;
  --font-small: 8px;
  --font-micro: 5px;

  /* Gap size */
  --gap-wide: 2rem;
  --gap-normal: 1rem;
  --gap-narrow: 0.5rem;
}
*{
  box-sizing: border-box;
}
ul{
  padding: 0;
  list-style: none;  
}

ul li{
  padding: 0.3rem 0;
  display: flex;
  flex-direction: column;
}

.nav .nav-types{
}

.nav .nav-types .nav-type{
  cursor: pointer;
  transition: all 150ms linear;
}

.nav .nav-types .nav-type:hover{
  font-weight: bold;
  transform: scale(1.02);
}

body{
  margin: 0; 
}

.wrap{
  display: flex;
  width: 100%;
  position: relative;
}

section{
  padding: var(--gap-wide);
}

.nav{
  position: fixed;
  background-color: var(--color-light-pink);
  width: 300px;
  height: 100vh;
  /* padding: 2rem; */
}

.nav .logo{
  font-size: var(--font-title);
  font-weight: bold;
}

.container{
  margin-left: 300px;
  width: 100%;
}

.items .item{
  margin-bottom: var(--gap-normal);
}

.items .item::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: var(--gap-narrow);
}

.items .item .item-title{
  font-size: var(--font-large);
}

.items .item .item-date{
  font-size: var(--font-medium);
  margin-top: var(--gap-narrow);
}

.items .item .item-bottom{
  margin-top: var(--gap-normal);
}

.items .item .item-bottom .item-bottom__delete{
  margin-right: 0.5rem;
}

.modals{
  display: none;
  position: absolute;
  top: 0;
  left: 0;    
  background-color: rgba(0,0,0,0.5);
  content: '';
  width: 100vw;
  height: 100vh;  
  z-index: 100;
}

.modal_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-49%);
  width: 50%;
  background-color: var(--color-peach);
  border-radius: 10px;
  padding: var(--gap-wide);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  display: none;
  width: 70%;
}
.modal .modal_errorMsg{
  display: none;
  text-align: center;
  color: red;
  margin-bottom: var(--gap-narrow);
}
.modal .modal_errorMsg .active{
  display: block;
}
.modal .modal_title{
  font-size: var(--font-title);
  margin-bottom: var(--gap-narrow);
}
.modal form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal .modal_bottom{
  display: flex;
  justify-content: flex-end;
  margin-top: var(--gap-normal);
}
.modal input{
  padding: var(--gap-narrow);
  width: 100%;
}
.modal button{
  margin-right: var(--gap-normal);  
  padding: var(--gap-narrow);
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  outline: none;  
  transition: all 200ms linear;
}

.modal button:hover{
  background-color: rgb(226, 164, 169);
  border: 1px solid transparent;
}

.modal.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modals .cover{
  position: relative;
  
}